<h2>About Me</h2>
<p>16 years old, I like to learn. If I'm not working or at school, I spend as much time as I can teaching myself new things and
staying productive. Most of the time I am intensly focused on learning several differant programming languages and smoking crack.</p>
