<h1>About Me</h1>
<p>16 years old, I like to learn. If I'm not working or at school, I spend as much time as I can teaching myself new things and
staying productive. Most of the time I am intensly focused on learning several differant programming languages. But when my brain needs
to take a break and I can 
afford the time, I like to practice one of my hobbies. Those would mostly include things like music, skating, and video games. I play 
berry sax in my jazz band and wind ensemble. Playing the saxophone is fun and easy but I think learning to play the guitar is funner. I do 
not have the 3 years of experience with it like I do on sax, but I still like to mess around with it mostly to teach myself music theory or
led zeppelin. Any genre of music can sound good to me, but I really like to listen to Pink Floyd, Jimi Hendrix, Wes Montgomery, Sublime, 
Men at Work, etc. If i'm not doing that I try to keep my brain active with stuff like chess, speedcubing, video games, skating, and smoking
crack. just kidding. </p>
