<h2>Contact Me</h2>
<br>


<div class="row">
  
  
  <div class="col-md-6">

    <h2>Phone</h2>
    <p>561-777-2865<p>
    <br>
    <h2>Email</h2>
    <p>AlexRottlaender@gmail.com</p>
    
  </div>
  
  
  
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6235978.896904065!2d122.965865532192
    21!3d40.255496522981744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357e02dae64f4337%3A0x3a0b87
    1c3e1d861c!2sNorth+Korea!5e0!3m2!1sen!2sus!4v1501309768869" width="390" height="230" frameborder="0" 
    style="border:0" allowfullscreen></iframe>
  </div>
  
  
</div>

<br>