<div class="inner cover">
  <h2 class="cover-heading">Welcome.</h2>
  <p>“The syntactical nature of reality, the real secret of magic, is that the world is made of words. And if you know the words that the world is made of, you can make of it whatever you wish.” 
― Terence McKenna </p>
  
  <p>“Television is by nature the dominator drug par excellence. Control of content, uniformity of content, repeatability of content make it inevitably a tool of coersion, brainwashing, and manipulation.” 
― Terence McKenna</p>



        