<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">If you got to this website from a resume or job applitaction, Click on 'About Me' for more information. </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %> 
  </p>
</div>



        